@font-face {
    font-family:Pokemon;
    src: url(fonts/Pokemon.ttf)
}

body {
    background-color:#ebf3e8;
    font-family: Pokemon;
}
h1 {
    text-align: center;
    color: #3f3b20;
    font-size: 3em;
}

.header p {
    text-align: center;
    color: #3f3b20;
    font-size: 1.1rem;
    line-height: 1.3em;
}

.cards {
    display: flex;
    gap: 2rem;
    justify-content: center;
    align-items: center;
    margin: 50px;
}

.cards img  {
    width: 200px;
    height: auto;
    transition: 0.5s;
}

.cards img:hover {
    transform: scale(1.2);
    cursor: pointer;
    box-shadow: 5px 5px 12px 1px rgba(37,81,106,255);
}

.cards:has(img:hover) > img:not(:hover) {
    opacity: 0.6;
}

.score {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 7rem;
    color: #3f3b20;
}

.annonce-resultat {
    background-color: rgba(37,81,106,255);
    color: rgba(246,252,255,255);
    border : 6px solid #c6a651;
    border-radius: 10px;
    padding : 15px; 
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5rem;
    width: 650px;
    text-align: center;
    font-size: 0.9rem;
}
.black-border {
    background-color: black;
    border: 5px solid black;
    width : 700px;
    margin: 0 auto;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.player-choice,
.computer-choice,
.result-message {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    gap: 1.1rem;
    line-height: 1.3em;
}

button {
    font-family: Pokemon;
    font-size: 2rem;
    padding: 15px 30px;
    box-shadow: 5px 5px 12px 1px rgba(37,81,106,255);
    cursor: pointer;
    border: none;
    color: rgba(37,81,106,255);
    background-color: rgba(246,252,255,255);
}

button:hover {
    background-color: rgba(37,81,106,255);
    color : rgba(246,252,255,255);
}
.player-score,
.computer-score {
    font-size: 4rem;
    margin-left: 30px;
    margin-right: 30px;
    font-weight: bold;
}


.start-again {
    text-align: center;
}

.win-txt,
.lost-txt {
    text-align: center;
    color: rgba(246,252,255,255);
    font-size: 3rem ;
    background-color: rgba(37,81,106,255) ; 
    box-shadow: 5px 5px 12px 1px rgba(0,0,0,0.5);
    width: 600px;
    margin: 50px auto;
    margin-top: 10px;
    border : 6px solid #c6a651;
    padding: 60px;
    line-height: 1.3em;
}
