@font-face {
    font-family:Pokemon;
    src: url(fonts/Pokemon.ttf)
}

body {
    background: url(images/background.png);
    font-family: Pokemon, Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    padding: 0;
    margin: 0;
}

.main {
    background-color: rgba(235,243,232,0.9) ;
    width: 800px;
    height: 100%;
    margin: 0 auto;
    border: 1px solid white;
    box-shadow: 0 1px 0 1px black,
                inset 0 1px 0 1px black,
                0 0 0 1px black,
                inset 0 0 0 1px black;
}

h1 {
    text-align: center;
    color: #3f3b20;
    font-size: 3rem;
}

.dialog {
    text-align: center;
    color: #3f3b20;
    font-size: 1.1rem;
    line-height: 2em;
/* TRYING OF POKEMON LIKE DIALOG FROM CODEPEN */
    font-family: Pokemon;
    border-radius: 2px;
    padding: 14px;
    width: 600px;
    height: 75px;
    margin: auto;
    margin-bottom: 50px;
    background: white;
    border: 1px solid white;
    box-shadow: 0 1px 0 1px black,
                inset 0 1px 0 1px black,
                0 0 0 1px black,
                inset 0 0 0 1px black;
    position: relative;
  }

  .dialog > i {
    width: 0;
    height: 0;
    border: 10px solid transparent;
    border-top-color: #3f3b20;
    position: absolute;
    bottom:0;
    right: 0;
    margin-right: 1rem;
  }

.cards {
    display: flex;
    gap: 2rem;
    justify-content: center;
    align-items: center;
    margin: 20px 0px 40px 0px;
    opacity:0;
    animation: transition 0.8s ease-in-out 6s forwards;
}

.cards img  {
    width: 200px;
    height: auto;
    transition: 0.5s;
}

.cards img:hover {
    transform: scale(1.2);
    cursor: pointer;
    box-shadow: 5px 5px 12px 1px #3f3b20;
}

.cards:has(img:hover) > img:not(:hover) {
    opacity: 0.5;
}

.score {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 7rem;
    color: #3f3b20;
}

.portraits {
    width: 70px;
    height: auto;
    margin-bottom: 10px;
}

.annonce-resultat {
    display : flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    gap: 5rem;
    font-size: 0,9rem;
    font-family: Pokemon;
    color: #3f3b20;
    border-radius: 2px;
    padding: 15px;
    width: 650px;
    line-height: 16px;
    margin: auto;
    margin-bottom: 50px;
    background: white;
    border: 1px solid white;
    box-shadow: 0 1px 0 1px black,
                inset 0 1px 0 1px black,
                0 0 0 1px black,
                inset 0 0 0 1px black;
}

.player-choice,
.computer-choice,
.result-message {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    gap: 1.1rem;
    line-height: 1.3em;
    transition: 0.7s;
}

.annonce-resultat h2 {
    margin-bottom: 40px;
    padding-top: 18px;
}

.animation-ia-choice {
    opacity:0;
    animation: transition 0.5s ease-in-out 1.1s forwards;
}

.animation-result-message {
    opacity:0;
    animation: transition 0.5s ease-in-out 1.7s forwards;
}

.animation-player-choice {
    opacity:0;
    animation: transition 0.5s ease-in-out 0.1s forwards;
}


@keyframes transition {
    0%   { opacity:0; }
    100% { opacity:1; }
}

button {
    font-family: Pokemon;
    font-size: 2rem;
    font-weight: bold;
    padding: 30px 30px 15px 30px;
    cursor: pointer;
    color: #3f3b20;
    text-transform: uppercase;
    background: white;
    border: 1px solid white;
    box-shadow: 0 1px 0 1px black,
                inset 0 1px 0 1px black,
                0 0 0 1px black,
                inset 0 0 0 1px black;
}

button:hover,
button:active {
    background-color: #3f3b20;
    color : white;
}

.start {
    text-align: center;
    color:#3f3b20;
    font-size: 2em;
    line-height: 1.3em;
}

.player-score,
.computer-score {
    font-size: 4rem;
    margin-left: 30px;
    margin-right: 30px;
    font-weight: bold;
}


.start-again {
    text-align: center;
}

.win-txt,
.lost-txt {
    text-align: center;
    color: #3f3b20;
    font-size: 2rem ; 
    border-radius: 2px;
    padding: 14px;
    padding-top: 18px;
    width: 650px;
    height: 75px;
    line-height: 16px;
    margin: auto;
    margin-bottom: 50px;
    background: white;
    border: 1px solid white;
    box-shadow: 0 1px 0 1px black,
                inset 0 1px 0 1px black,
                0 0 0 1px black,
                inset 0 0 0 1px black;
}

.game-result {
    display: flex;
    justify-content: center;
    align-items: center;
    gap:0;
    margin: 40px auto;
}


  footer {
    font-size: 0.4em;
    text-align: center;
    margin-top: 50px ;
    position: aboslute;
    bottom: 0;
  }
  


  /* TYPEWRITER EFFECT TRYOUTS */

  .start {
    overflow: hidden;
    opacity: 0;
    white-space: nowrap; /* Keeps the content on a single line */
    margin: 0 auto; /* Gives that scrolling effect as the typing happens */
    animation:
      transition 0.5s ease-in-out 0.1s forwards,
      typing 3.5s steps(40, end),
      blink-caret .75s step-end infinite;
    animation-delay : 6.5s, 6.5s, 6.5s;
  }
  
  /* The typing effect */
  @keyframes typing {
    from { width: 0 }
    to { width: 100% }
  }

  /* MEDIA QUERY */

  @media all and (max-width: 800px) {
    .main,
    .header,
    .cards,
    .start,
    .score {
        width: auto;
    }

    .annonce-resultat,
    .game-result,
    .dialog {
        width: 80%;
    }

    .header h1 {
        font-size: 2rem;
    }

    .dialog {
        height: fit-content;
        font-size: 0.9rem;
    }

    .start {
        font-size: 1rem;
    }

    .cards{
        gap: 0.7rem;
    }
    .cards img {
        width: 30%;
        height: auto;
    }

    .cards img:hover,
    .cards img:active {
        transform: scale(1.05);
        cursor: pointer;
        box-shadow: 1px 1px 8px 1px #3f3b20;
    }
    .annonce-resultat {
        font-size: 0.9rem;
        line-height: 1.5rem;
        gap: 2.5rem;
    }

    .annonce-resultat h2 {
        font-size: 16px;
    }

    .score {
        gap: 1rem;
        font-size: 0.9rem;
    }

    .player-score,
    .computer-score {
        font-size: 2rem;
    }
    .game-result{
        font-size: 0.9rem;
    }

    .portraits {
        width: 40px;
        height: auto;
    }

    button {
        font-size: 0.9rem;
    }
    
}