body {
    background-color: rgb(54,69,79);
}
h1 {
    text-align: center;
    color: whitesmoke;

}
.header p {
    text-align: center;
    color: whitesmoke;
    margin-bottom: 60px;
    font-style: italic;
    font-size: 1.1rem;
}

.cards {
    display: flex;
    gap: 2rem;
    justify-content: center;
    align-items: center;
}

.cards img  {
    width: 200px;
    height: auto;
    transition: 0.4s;
}

.cards img:hover {
    transform: scale(1.2);
    cursor: pointer;
}

.score {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 7rem;
    color: whitesmoke;
}

.buttons {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1.5rem;
    margin-bottom: 30px;

}

.annonce-resultat {
    color: whitesmoke;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5rem;
}

.column1,
.column2,
.column3 {
    display : flex;
    flex-direction: column;
}

.player-choice,
.computer-choice,
.result-message {
    text-align: center;
}

button {
    font-size: 2rem;
    padding: 5px 35px;
    box-shadow: 5px 5px 12px 1px rgba(0,0,0,0.5);
    cursor: pointer;
    border: none;
    transition: 0.4s;
}

button:hover {
    transform: scale(1.1);
    background-color: bisque;
    
}
.player-score,
.computer-score {
    font-size: 4rem;
    margin-left: 30px;
    margin-right: 30px;
    font-weight: bold;
}


.start-again {
    text-align: center;
    margin-top: 50px;
}

.win-txt,
.lost-txt {
    text-align: center;
    font-size: 3rem ;
    background-color: darkred ; 
    padding : 5px 40px ; 
    box-shadow: 5px 5px 12px 1px rgba(0,0,0,0.5);
    width: 25%;
    margin: 20px auto;
}

.win-txt {
    background-color: darkgreen;
}